<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <style>
        #content {
            min-width: 650px;
            height: 100%;
            margin: auto;
        }

        #main-img {
            display: inline;
            height: 100px;
            vertical-align: middle;
        }

        #title {
            display: inline-block;
        }

        #header {
            text-align: center;
        }

        #tic_tac_toe_example {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>
<body>
<div id="content">
    <div id="header">
        <img id="main-img" src="botFightsLogo.jpg">
    </div>
    <hr/>
    <div id="main">
        <h3>About:</h3>
        <p>
            Hi my name is "Botfights" and I am a programing challenge platform that programmers can use to practise their programming skills and engage each other in <i>AI</i> battles.<br/>
            You choose a game, load up your source code and witness your bots duking it out in a virtual arena.
        </p>
        <p>I also represents a framework for developing said games.</p>
        <p>I was developed in Java and I use JavaFX as my graphics framework.</p>
        <h4>Checkout my <a href="www.github.com">github</a>:</h4>

        <h3>How to:</h3>
        <p>Firstly, you can always go back to this page by using menu Help -> About.</p>
        <p>On the left you can see a list of loaded games, and you can choose one by clicking on it.<br/>
            When you do that a game description will load and you can check that out to learn more about how the game is played.
        </p>
        <p>
            Below the game list you will see a 'Templates' section with its title written in <span style="color: hotpink">pink</span> font.</br>
            You can use this section to download a "starter" file in one of the programming languages the selected game supports.</br>
            This file will help you in writing your own bot.
        </p>
        <p>
            Bellow 'Templates' section, occupying bottom of the screen is the, 'Simulator console'. <br/>
            Here you can see all the important info and errors that can popup, so if you are not sure why something happened <br/>
            during the run time of the simulator, you can probably find the explanation in here.
        </p>
        <p>
            On the right you have the 'Player manager' section. Here you can add/remove players, if the game supports variable number of players.<br/>
            Each player is represented by his name and his source fil containing the bot source code.</p>
        </p>
        <p>
            After you input those, for each player, a green 'Launch' button will light up and after that i guess you know what to do.
        </p>
        <h3>Author notes:</h3>
        <p>"Botfights" was developed to be the subject of my bachelor's thesis in Software Engineering. </p>
        <p><i>
            - Smiljan Djuric
        </i></p>
    </div>
</div>
</body>
</html>